.clock{
    background-image: linear-gradient(#19D3AE, #0FCFEC);
    color: #fff;
}
.location{
    background-color: #3A4256;
    color: #fff;
}
.contact{
    background-image: linear-gradient(#19D3AE, #0FCFEC);
    color: #fff;
}